<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>zyd's website</title>
    <style>
        a{
            font-size: larger;
            color: #ff359b;
        }
    </style>
</head>
<body>
<center>
  <h1 >欢迎来到我的网站！</h1>
    <br><br><br>
    <a href="/vip" target="_blank"><button type="button">点此进入VIP视频区</button></a><br>
    <a href="/picture" target="_blank"><button type="button">点此进入美女图片区</button></a><br>
    <a href="/video" target="_blank" ><button type="button">点此进入视频区</button></a><br>
</center>
</body>
</html>