<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
  <style>
.flowplayer:not(.is-loaded) {
  background-color: #324584;
  height: 80vh
}
</style>
<body>
<div>
{% for num in movies %}
<div class="use-play-1 flowplayer" data-player-id="56058953-2cbd-4858-a915-1253bf7ef7b2">
  <script src="//cdn.flowplayer.com/players/8dfd6c14-ba3a-445e-8ef5-191d9358ed0a/native/flowplayer.async.js">
    { "src":"static/VIP/{{num}}" }
  </script>
</div>
    {% endfor %}
</div>
</body>
</html>